.army1-box, .army2-box{
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-inset: 100;
    -fx-background-color: rgb(119, 126, 150);
}

.button-location , .battle-map {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-inset: 100;
}

.button-location {
    -fx-background-color: black;
}

.battle-button {
    -fx-background-color: red;
    -fx-text-alignment: center;
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-border-color: black;
    -fx-opacity: 70%;
    -fx-wrap-text: true;
}

.hbox-button-location {
    -fx-alignment: center-right;
}

.box-title-army {
    -fx-padding: 20
}

.title-army {

}