.army-box {
    -fx-spacing: 20;
    -fx-alignment: top-center;
    -fx-padding: 10 0 0 0;
    -fx-background-color: transparent;
}

.button-location, .battle-map, .tab-box {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-inset: 100;
    -fx-background-color: rgba(119, 126, 150, 0.6);
    -fx-border-width: 1 0 1 1;
}

.center {
    -fx-alignment: bottom-left;
}

.reset-button, .battle-button {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-insets: 1;
    -fx-border-color: rgba(0,0,0,0.6);
    -fx-pref-width: 200;
    -fx-alignment: center;
}

.battle-button {
    -fx-background-color: red;
    -fx-wrap-text: true;
}

.reset-button {
    -fx-background-color: green;
}


.button-location {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.box-title-army {
    -fx-padding: 20;
}

.title-army {
    -fx-font-weight: bold;
}

 
 .table-view .column-header-background .label{
     -fx-cell-size: 0;
 }

 .table-view *.increment-button,
 .table-view *.decrement-button,
 .table-view *.increment-arrow,
 .table-view *.decrement-arrow
 {
     -fx-padding: 0;
     -fx-shape: "";
 }
 
 .table-row-cell {
     -fx-border-color: rgba(0,0,0,0);
     -fx-border-width: 2;
 }

.table-row-cell:odd{

}

.table-row-cell:even{

}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
