.army-box {
    -fx-spacing: 20;
    -fx-alignment: top-center;
    -fx-padding: 10 0 0 0;
    -fx-background-color: transparent;
}

.bottom {
    -background-color: rgba(0, 0, 0, 0.6)
}

.button-location {
    -fx-alignment: center;
    -fx-spacing: 300;
}

.reset-button, .battle-button {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-insets: 1;
    -fx-border-color: rgba(0,0,0,0.6);
    -fx-pref-width: 200;
    -fx-alignment: center;
}

.battle-button {
    -fx-background-color: red;
    -fx-wrap-text: true;
}

.reset-button {
    -fx-background-color: green;
}

.terrain-chooser {
    -fx-alignment: center;
    -fx-spacing: 30;
}

.terrain-chooser .button {
    -fx-background-color: transparent;
    -fx-font-size: 15;
}

.terrain {
    -fx-font-size: 20;
}



.box-title-army {
    -fx-padding: 20;
}

.title-army {
    -fx-font-weight: bold;
}

.table-row-cell:odd{

}

.table-row-cell:even{

}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view {
    -fx-background-color: transparent;
}

.tile { 
    -fx-border-radius: 1;
    -fx-border-color: black;
}
